* {
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
  /* border: 1px dashed salmon; */
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  margin-bottom: 0px;
}

h4 {
  margin-top: 0px;
}

.stacking {
  display: flex;
  flex-wrap: wrap;
}

.stacking > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20ch;
}

.shop-category {
  text-align: center;
  padding: 0.5rem;
  margin: 1px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.shop-button {
  border-radius: 20px;
  background: #f37b7b;
  color: white;
  padding: 0.7rem;
  border: 0;
}

.shop-button:hover {
  color: black;
  background-color: rgb(236, 185, 213);
}

.left-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#logo {
  margin: auto 0;
  /* color: rgb(23, 107, 3); */
  color: rgb(226, 32, 139);
  font-size: calc(1rem + 2vw);
  font-family: 'Monoton', 'Comfortaa', sans-serif;
}

.nav-items {
  display: inline-block;
}

.nav-items > *{
  display: inline-block;
}

.nav-link {
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
}

.nav-item-text {
  display: inline-block;
  margin-left: 4px;
}

.splash-feature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.splash-feature > * {
  margin: 2rem auto;
}

.splash-item {
  position: relative;
}

.splash-item > .caption {
  position: absolute;
  bottom: 0%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
  width: 100%;
  color: white;
  font-size: calc(1rem + 2vw);
  padding: 1rem;
}

.caption > .more-button{
  margin-bottom: 1rem;
}

.splash-feature img {
  width: 100%;
  border-radius: 10%;
}

.recommended {
  max-width: 10rem;
  display: inline-block;
}

.support{
  border: 1px solid white;
  text-align: center;
  top: 50%;
  width: 100%;
  background-color: rgb(236, 232, 233);
}

.support > h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 5rem;
}

.support > button{
  margin-bottom: 2rem;
  margin-top: 2rem;

}

button{
  cursor: pointer;
  background-color: rgb(247, 75, 22);
  background: #f37b7b;
  color: white;
}

footer{
  background-color: rgb(236, 232, 233);
  padding: 2rem;
  width: 100%;
  font-size: 75%;
  text-align: center;
}

.background-img {
  background: linear-gradient(rgba( 0, 0, 0, 0.1));
  filter: brightness(25%);
  max-width: 300px;
}

#contact .caption {
  font-size: calc(1rem + 0.5vw);
}

body > h2{
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
}
